<h3><%= postagem.titulo %></h3>
<p title="Ver mais de <%= postagem.categoria.nome %>">Categoria: <a href="/categorias/<%= postagem.categoria.slug %>" class="badge bg-info"><%= postagem.categoria.nome %></a></p>

<hr>

<br>

<div class="card mb-3">
    <div class="card-box p-3">
        <%= postagem.conteudo %>
    </div>
</div>

<div class="d-flex flex-row justify-content-between">
    <a href="/"><button class="btn btn-primary">Voltar para o ínicio</button></a>
    <a href="/categorias/<%= postagem.categoria.slug %>"><button class="btn btn-info" style="color: white">Mais de '<%= postagem.categoria.nome %>'</button></a>
</div>